<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo_list</title>
    <style>
        .done {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1> Tema pentru vineri 9 mai, ziua Europei!! </h1>

    <FORM action ="" method="get">
        <select name="filter" id="" onchange="this.form.submit()">
            <option value="all">Toate</option>
            <option value="done">Done</option>
            <option value="undone">To do</option>
        </select>
        <input type="submit" value="Alege">
    </FORM>
    
    <ol>
        {% for model in model_list %}
            <li>

            {% if model.is_done %}
                <span class="done"> {{model}}</span>
            {% else %}
                <span> {{model}}</span>
            {% endif %}
           
            
                <a href="{%url 'mark_todo_url' model.id%}"> 
                 {% if model.is_done %}
                    🔙
                {% else %}
                    ✅
                {% endif %}
                
                 </a>

                <a href="{%url 'update_todo_url' model.id%}"> 🖌️ </a>

                <a href="{%url 'delete_todo_url' model.id%}"> X </a>
            </li>
            <br>
        {% endfor %}
    </ol>

        <button type="button" onclick = "document.location.href= '{% url 'create_todo_url' %}'">Adauga task</button>
</body>
</html>